*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    scroll-behavior: smooth;  
}

.menu{
    background-color: #f7cedb;
    height: 150px;
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.menu2{
    background-color: #c0e2ee;
    height: 150px;
    border-bottom: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.menu3{
    background-color: #d9c5ec;
    height: 150px;
    border-bottom: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.menuitems{
    height: 90%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
    margin-right: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: flex-grow .7s;
    
}

.menuitems2 {
    height: 90%;
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgb(240, 158, 206);
    margin-right: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}

.menuitems3 {
    height: 90%;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    margin-right: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}




.container{
    height: 300px;
    font-size: 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffeb;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid white;
}

.item{
    height: 100%;
    background-color: white;
    min-width: 100px;
}

p{
    color: rgb(255, 180, 17);
    font-size: 64px;
}

.longscroll{
    background-image: linear-gradient(#f7cedb,  #c0e2ee, #d9c5ec);
    height: 5000px;
}

.menuitem6 {
    height: 90%;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    margin-right: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}

.menuitems4 {
    height: 90%;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    margin-right: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}

.menu6 {
    height: 90%;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    margin-right: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}

